  @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
:root {
    --main-color : #493B15;
    --second-color : #FFECBB;
    --body-color : #FFFFFF;
    --main-font :'Krona One', sans-serif;
    --heading-font : 'Kufam', sans-serif;

}
body{
    background-color: var(--body-color);
    font-family: var(--main-font);
}
.section {
    background-image: url('../img/bg.png');
    background-size: cover;
}

.bg-lumpia {
    background-color: orange;
   
  }
.bg-brown{
    background-color: #493B15;
}
.card-img-top{
    background-color: var(--second-color);
}


.bg-image{
    background-image: url("../img/galeri1.jpg");
    width: fit-content;
    background-size: cover;
    
}
.form-container{
    
    position: relative;
    margin: 250px auto;
    width: 550px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background: rgba(238, 241, 238, 0.1);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background: #D9D9D9; */
    /* opacity: 22%; */
}
.headline{
    
    font-weight:900;
    box-shadow: #010c3e;
}
.container-fluid{
    font-family: var(--main-font);
}
.navbar, .navbar-expand-lg {
    background-color: #493B15;
}
.card-img-top{
    width: 20%;
    position: relative;
}
.img{
    width: 400px;
    height: 220px;
    
    
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.form-group{
    margin-top: 20px;
}

/* css beli produk */

/* css daftar pesanan */
/* css detail pesanan */
.container-lg{
    position: relative;
    margin: 20px auto;
    width: 550px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background: rgba(238, 241, 238, 0.1);
}
/* dashboard admin */
.container-ds{
    background-color: #4f95e1;
   
}

/* .table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.btn{
    margin-top: 10px;
}