  @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
:root {
    --main-color : #493B15;
    --second-color : #FFECBB;
    --body-color : #FFFFFF;
    --main-font :'Krona One', sans-serif;
    --heading-font : 'Kufam', sans-serif;

}
body{
    background-color: var(--body-color);
    font-family: var(--main-font);
}
.section {
    background-image: url('../img/bg.png');
    background-size: cover;
}

.bg-lumpia {
    background-color: orange;
  }
.bg-brown{
    background-color: #493B15;
}
.card-img-top{
    background-color: var(--second-color);
}
.card-body{
    background-color: var(--second-color);
}
.bg-image{
    background-image: url("../img/galeri1.jpg");
    width: fit-content;
    background-size: cover;
    
}
.form-container{
    
    position: relative;
    margin: 250px auto;
    width: 550px;
    padding: 10px;
    border: 1px solid #ccc;
    background: rgba(238, 241, 238, 0.1);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background: #D9D9D9; */
    /* opacity: 22%; */
}
.headline{
    
    font-weight:900;
    box-shadow: #010c3e;
}
.container-fluid{
    font-family: var(--main-font);
}
